@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

.dashboard-container {
    box-shadow: ;
    box-shadow: 0px 2px 1px 1px rgb(158, 158, 158);

    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.dashboard-title {
    
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
}

.name-container {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Livvic',
        sans-serif;

}

.metrics-header {
    font-family: 'Livvic',
        sans-serif;
    ;
}

.metrics-container {
    margin-top: 30px;

}

.metrics-table {
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 12px;
    min-height: 100px;
    margin-top: 20px;
}

.mini-nav-dash{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 8px;
    font-family: "Livvic" , sans-serif;
}

.metrics-sub{
    font-weight: bold;
    font-family: "Livvic" , sans-serif;
    font-size: 28px;
    margin-top: 4px;
}

.edit-driver{
    font-family: "Livvic" , sans-serif;
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 12px;
}

.manageDriverHeader{
    font-size: 20px;
    font-family: "Livvic" , sans-serif;
    text-align: left;
}

.insub-container{
    margin-top: 8px;
}



.metrics-insub{
    font-family: "Livvic" , sans-serif;
    margin-bottom: 2px;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
}